* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(/PageDeLogin/img/dark-night-river-forest-minimal-art.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.container {
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    width: 420px;
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;
}

.container h1 {
    text-align: center;
    font-size: 36px;
}

.container .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 40px 0px;
}

.container .input-box p {
    font-weight: 600;
}

.input-box input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    border-radius: 40px;
    font-size: 16px;
    border: 2px solid rgba(255, 255, 255, .2);
    padding: 20px 20px 20px 45px;
    color: #fff;
    background-color: transparent;
}

.input-box input::placeholder {
    color: #fff;
}

.input-box i {
    position: absolute;
    left: 20px;
    top: 100%;
    transform: translateY(-50%);
}

.container .btn {
    text-decoration: none;
    width: 100%;
    height: 45px;
    border-radius: 40px;
    outline: none;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 18px;
    color: #333;
    font-weight: 600;
    margin-top: 20px;
}

.btn:hover {
    background-color: #d3d3d3
}

.container .go-back {
    text-align: center;
    font-size: 14,5px;
    margin: 20px 0px 15px;
}

.container .go-back p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.go-back p a:hover {
    text-decoration: underline;
}

@media (max-width: 600px) {

    .container {
        backdrop-filter: none;
        border: none;
    }

    .container h1 {
        font-size: 32px;
    }

    .container .go-back a {
        text-decoration: underline;
    }

}