* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(/PageDeLogin/img/dark-night-river-forest-minimal-art.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.container {
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    width: 420px;
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;
}

.container h1 {
    text-align: center;
    font-size: 36px;
}

.container .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0px;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border-radius: 40px;
    font-size: 16px;
    border: 2px solid rgba(255, 255, 255, .2);
    padding: 20px 45px 20px 20px;
    color: #fff;
}

.input-box input::placeholder {
    color: #fff;
}

.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 14,5px;
    margin: -15px 0 15px;
}

.remember-forgot label input {
    accent-color: #fff;
    margin-right: 3px;
}

.remember-forgot a {
    text-decoration: none;
    color: #fff;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.container .btn {
    text-decoration: none;
    width: 100%;
    height: 45px;
    border-radius: 40px;
    outline: none;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 18px;
    color: #333;
    font-weight: 600;
}
.btn:hover {
    background-color: #d3d3d3
}

.container .register-link {
    text-align: center;
    font-size: 14,5px;
    margin: 20px 0px 15px;
}

.container .register-link p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover {
    text-decoration: underline;
}

@media (max-width: 600px) {
    .container {
        background-color: none;
        border: none;
        backdrop-filter: none;
        height: 490px;
        width: 420px;
        color: #fff;
        position: relative;
        top: -60px;
    }

    .container h1 {
        padding-bottom: 40px;
        font-size: 36px;
    }

    .container .input-box {
        height: 55px;
    }

    .input-box input {
        width: 100%;
        height: 100%;
        background: transparent;
        border: none;
        outline: none;
        border-radius: 40px;
        font-size: 16px;
        border: 2px solid rgba(255, 255, 255, .6);
        padding: 20px 45px 20px 20px;
        color: #fff;
    }

.container .remember-forgot {
    margin-bottom: 50px;
}

    .remember-forgot label input {
        accent-color: #fff;
        margin-right: 3px;
        transform: scale(1.2);
        -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
    }

    .remember-forgot input[type="checkbox"] {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        width: 15px;
        height: 15px;
        border: 2px solid #e4e4e4;
        border-radius: 3px;
        position: relative;
        cursor: pointer;
        outline: none;
      }
      
      .remember-forgot input[type="checkbox"]:checked {
        background-color: #ffffff;
        border-color: #e4e4e4;
      }
      
      .remember-forgot input[type="checkbox"]:checked::before {
        content: '✔';
        color: rgb(70, 70, 70);
        position: absolute;
        left: 0px;
        top: -4px;
        font-size: 14px;
      }

    .container .btn {
        margin-top: 25px;
        height: 55px;
    }
}

@media (max-width: 600px) {
    .remember-forgot label, a {
        font-size: 15px;
    }

    .remember-forgot label input {
        accent-color: #fff;
        margin-right: 3px;
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
        -ms-transform: scale(1.0);
    }
}